* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(188, 225, 240) 0%,
    rgb(225, 234, 238) 90%
  );
}

.container {
  width: 1100px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
/*MARK: header */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header .luma-icon {
  height: 20px;
}

header nav {
  display: flex;
  gap: 20px;
}
/* main */
main {
  display: flex;
}
.left {
  width: 40%;
}
.rigth {
  width: 60%;
}
.right video {
  width: 100%;
}
.luma-logo-lg {
  height: 50px;
}
/* footer */
footer .primary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.luma-logo-sm {
  height: 25px;
}
.secodary {
  margin-bottom: 20px;
}
